.main {
  background: #E1A3DA;

  input {
    display: block;
    margin: 5px 0 0 20px;
  }

  button {
    font-size: 20px;
    margin: 20px;
    padding: 10px 20px;
    color: #0074D9;
    background: #fdd;
    border: 1px solid #cdd;
    border-radius: 10px;
  }
}
