.layout {
  width: 1000px;
  min-height: 500px;
  //height: calc(100vh - 200px); // min-height 는 하위 elements 에 자신의 높이값을 제공하지 못한다!
  margin: 0 auto;
  border: 1px solid #bbb;

  h1 {
    font-weight: 700;
    margin-bottom: 40px;
  }

  p {
    font-size: 30px;
    font-family: var(--font-dongle);
  };
}
