.main {

  > div {
    width: 100%;
    height: 400px;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 2000px;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
